<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <title>Dirtbags: <!-- TMPL_VAR title --></title>
    <link rel='stylesheet' media='screen' title='default'
          href='/default.css' />
    <link rel="icon" type="image/png" href="/icon.png" />
  </head>
  <body>
    <div id="head">
      <h1>
        Dirtbags: <!-- TMPL_VAR title -->
      </h1>

      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/grok/">Grok</a></li>
        <li><a href="/py-pcap/">py-pcap</a></li>
        <li><a href="/tools/">Tools</a></li>
        <li><a href="/gitweb.cgi">VCS</a></li>
        <li><a href="/about/">About Us</a></li>
      </ul>
    </div>
    
    <div id="body">
      <!-- TMPL_VAR content -->
    </div>

    <address>
      &copy; 2008 some dirtbags
    </address>
  </body>
</html>
