<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
  <head>
    <title>Dirtbags: <!-- TMPL_VAR title --></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen, tv, projection" />
    <link rel="icon" type="image/png" href="/images/icon.png" />
  </head>
  <body>
    <div id="head">
      <h1>dirtbags: <span class="color"><!-- TMPL_VAR title --></span></h1>
    </div>

    <div id="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/py-pcap/">py-pcap</a></li>
        <li><a href="/tools/">Tools</a></li>
        <li><a href="/gitweb.cgi">VCS</a></li>
        <li><a href="/about/">About Us</a></li>
      </ul>
    </div>

    <div id="body">
      <!-- TMPL_VAR content -->     
    </div>

    <address>Copyright &copy; 2008 some dirtbags</address>
  </body>
</html>
