body {
    max-width: inherit;
}

#program, #output {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

@media (max-width: 80em) {
    #program, #output {
	width: 40em;
    }
}

#editor {
    min-width: 40em;
    height: 20em;
}

.error {
    font-weight: bold;
    background-color: #ffcccc;
}

#turtlepen {
}

#stdout {
    height: 5em;
    overflow: auto;
}

